<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin login</title>
    </head>
    <body>

    <h1>Login as the Admin to view all registered users</h1>

    <form action="#" th:action="@{/adminLogin}" method="POST">
        <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
        <p><label for="password">password</label>: <input type="password" name="password" id="password"/></p>
        <p><input type="submit" value="login" /></p>
    </form>

    <p></p>
    </body>
</html>
